doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="author" content="TanDM - tandm160797@gmail.com")
    meta(name="keywords" content="NodeJS|Express|MongoDB|Pug")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/styles.css")
    title Express App
  body
    .app
      .intro
        .intro__heading Hello Pug view engine
